apiVersion: v1
data:
  ca.crt: '-----BEGIN CERTIFICATE-----

    MIIBiTCCAS+gAwIBAgIQLiokCanbgMqWaBHm1QLlvTAKBggqhkjOPQQDAjAVMRMw

    EQYDVQQKEwprdWJlcm5ldGVzMB4XDTI2MDEyNDAxMDU0N1oXDTM2MDEyMjAxMDU0

    N1owFTETMBEGA1UEChMKa3ViZXJuZXRlczBZMBMGByqGSM49AgEGCCqGSM49AwEH

    A0IABNSxNJOJNAYwHUIxikEGDSUEan2ydn9bTSdLXVEvilUUshCruuHWPdvYUVcO

    K/LA4cXgtqtEyVj5gpKzXqWqY/WjYTBfMA4GA1UdDwEB/wQEAwIChDAdBgNVHSUE

    FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4E

    FgQUPXrFvLDysyUo74aAowhfjmdlqjwwCgYIKoZIzj0EAwIDSAAwRQIgIhYrmm5A

    SbRqCPCRT93BjRn0fBES21Xy80KZmNKhwJUCIQC5BXvcxbYFqLUGiKi3MF/zjtZB

    jFrUtYJZ3aSjVZt8ag==

    -----END CERTIFICATE-----

    '
kind: ConfigMap
metadata:
  annotations:
    kubernetes.io/description: Contains a CA bundle that can be used to verify the
      kube-apiserver when using internal endpoints such as the internal service IP
      or kubernetes.default.svc. No other usage is guaranteed across distributions
      of Kubernetes clusters.
  name: kube-root-ca.crt
  namespace: longhorn-system

---
apiVersion: v1
data:
  default-setting.yaml: 'priority-class: longhorn-critical'
kind: ConfigMap
metadata:
  annotations: {}
  labels:
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.6.2
  name: longhorn-default-setting
  namespace: longhorn-system

---
apiVersion: v1
data:
  storageclass.yaml: "kind: StorageClass\napiVersion: storage.k8s.io/v1\nmetadata:\n\
    \  name: longhorn\n  annotations:\n    storageclass.kubernetes.io/is-default-class:\
    \ \"true\"\nprovisioner: driver.longhorn.io\nallowVolumeExpansion: true\nreclaimPolicy:\
    \ \"Delete\"\nvolumeBindingMode: Immediate\nparameters:\n  numberOfReplicas: \"\
    3\"\n  staleReplicaTimeout: \"30\"\n  fromBackup: \"\"\n  fsType: \"ext4\"\n \
    \ dataLocality: \"disabled\"\n  unmapMarkSnapChainRemoved: \"ignored\"\n"
kind: ConfigMap
metadata:
  annotations: {}
  labels:
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.6.2
  name: longhorn-storageclass
  namespace: longhorn-system
