apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: agentgateway-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: enterprise-agentgateway-helm:/ServiceAccount:agentgateway-system/enterprise-agentgateway
  labels:
    agentgateway: agentgateway
    app.kubernetes.io/instance: enterprise-agentgateway-helm
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: enterprise-agentgateway
    app.kubernetes.io/version: 2.1.0
    helm.sh/chart: enterprise-agentgateway-2.1.0
  name: enterprise-agentgateway
  namespace: agentgateway-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: ext-auth-service
    gateway.solo.io/extension: agw-ext-auth
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: ext-auth-service-enterprise-agentgateway
  namespace: agentgateway-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: ext-cache
    gateway.solo.io/extension: agw-ext-cache
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: ext-cache-agentgateway-system-enterprise-agentgateway
  namespace: agentgateway-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app.kubernetes.io/component: clickhouse
    app.kubernetes.io/instance: management
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: clickhouse
    app.kubernetes.io/version: 25.9.3-alpine
    helm.sh/chart: clickhouse-0.0.4
  name: management-clickhouse
  namespace: agentgateway-system

---
apiVersion: v1
automountServiceAccountToken: false
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: ollama-gateway
    app.kubernetes.io/managed-by: kgateway
    app.kubernetes.io/name: ollama-gateway
    gateway.networking.k8s.io/gateway-class-name: enterprise-agentgateway
    gateway.networking.k8s.io/gateway-name: ollama-gateway
    kgateway: kube-gateway
  name: ollama-gateway
  namespace: agentgateway-system
  ownerReferences:
  - apiVersion: gateway.networking.k8s.io/v1
    controller: true
    kind: Gateway
    name: ollama-gateway
    uid: b9ab1e9d-b64d-44f4-b69f-46fb10fc0349

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: rate-limiter
    gateway.solo.io/extension: agw-rate-limiter
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: rate-limiter-agentgateway-system-enterprise-agentgateway
  namespace: agentgateway-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app: solo-enterprise-ui
    app.kubernetes.io/managed-by: Helm
  name: solo-enterprise-ui
  namespace: agentgateway-system
