apiVersion: v1
kind: Service
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: enterprise-agentgateway-helm:/Service:agentgateway-system/enterprise-agentgateway
  labels:
    agentgateway: agentgateway
    app.kubernetes.io/instance: enterprise-agentgateway-helm
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: enterprise-agentgateway
    app.kubernetes.io/version: 2.1.0
    helm.sh/chart: enterprise-agentgateway-2.1.0
  name: enterprise-agentgateway
  namespace: agentgateway-system
spec:
  clusterIP: 10.103.224.162
  clusterIPs:
  - 10.103.224.162
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: grpc-xds-agw
    port: 9978
    protocol: TCP
    targetPort: grpc-xds-agw
  - name: health
    port: 9093
    protocol: TCP
    targetPort: health
  selector:
    agentgateway: agentgateway
    app.kubernetes.io/instance: enterprise-agentgateway-helm
    app.kubernetes.io/name: enterprise-agentgateway
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ext-auth-service
    gateway.solo.io/extension: agw-ext-auth
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: ext-auth-service-enterprise-agentgateway
  namespace: agentgateway-system
spec:
  clusterIP: 10.104.174.118
  clusterIPs:
  - 10.104.174.118
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: grpc
    port: 8083
    protocol: TCP
    targetPort: 8083
  - name: debug
    port: 9091
    protocol: TCP
    targetPort: 9091
  - name: health
    port: 8082
    protocol: TCP
    targetPort: 8082
  selector:
    app: ext-auth-service
    app.kubernetes.io/instance: ext-auth-service-enterprise-agentgateway
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ext-cache
    gateway.solo.io/extension: agw-ext-cache
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: ext-cache-enterprise-agentgateway
  namespace: agentgateway-system
spec:
  clusterIP: 10.105.9.41
  clusterIPs:
  - 10.105.9.41
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: ext-cache
    ext-cache: redis
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app.kubernetes.io/component: clickhouse
    app.kubernetes.io/instance: management
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: clickhouse
    app.kubernetes.io/version: 25.9.3-alpine
    helm.sh/chart: clickhouse-0.0.4
  name: management-clickhouse
  namespace: agentgateway-system
spec:
  clusterIP: 10.104.1.80
  clusterIPs:
  - 10.104.1.80
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 8123
    protocol: TCP
    targetPort: http
  - name: tcp
    port: 9000
    protocol: TCP
    targetPort: tcp
  - name: http-interserv
    port: 9009
    protocol: TCP
    targetPort: http-interserv
  selector:
    app.kubernetes.io/component: clickhouse
    app.kubernetes.io/instance: management
    app.kubernetes.io/name: clickhouse
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app.kubernetes.io/component: clickhouse
    app.kubernetes.io/instance: management
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: clickhouse
    app.kubernetes.io/version: 25.9.3-alpine
    helm.sh/chart: clickhouse-0.0.4
  name: management-clickhouse-headless
  namespace: agentgateway-system
spec:
  clusterIP: None
  clusterIPs:
  - None
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 8123
    protocol: TCP
    targetPort: http
  - name: tcp
    port: 9000
    protocol: TCP
    targetPort: tcp
  - name: http-interserv
    port: 9009
    protocol: TCP
    targetPort: http-interserv
  publishNotReadyAddresses: true
  selector:
    app.kubernetes.io/component: clickhouse
    app.kubernetes.io/instance: management
    app.kubernetes.io/name: clickhouse
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: ollama-gateway
    app.kubernetes.io/managed-by: kgateway
    app.kubernetes.io/name: ollama-gateway
    gateway.networking.k8s.io/gateway-class-name: enterprise-agentgateway
    gateway.networking.k8s.io/gateway-name: ollama-gateway
    kgateway: kube-gateway
  name: ollama-gateway
  namespace: agentgateway-system
  ownerReferences:
  - apiVersion: gateway.networking.k8s.io/v1
    controller: true
    kind: Gateway
    name: ollama-gateway
    uid: b9ab1e9d-b64d-44f4-b69f-46fb10fc0349
spec:
  allocateLoadBalancerNodePorts: true
  clusterIP: 10.97.163.96
  clusterIPs:
  - 10.97.163.96
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: listener-8091
    nodePort: 31933
    port: 8091
    protocol: TCP
    targetPort: 8091
  selector:
    app.kubernetes.io/instance: ollama-gateway
    app.kubernetes.io/name: ollama-gateway
    gateway.networking.k8s.io/gateway-name: ollama-gateway
  sessionAffinity: None
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    gateway: ollama-gateway
  name: ollama-gateway-nodeport
  namespace: agentgateway-system
spec:
  clusterIP: 10.101.111.156
  clusterIPs:
  - 10.101.111.156
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    nodePort: 30891
    port: 8091
    protocol: TCP
    targetPort: 8091
  selector:
    gateway.networking.k8s.io/gateway-name: ollama-gateway
  sessionAffinity: None
  type: NodePort

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: rate-limiter
    gateway.solo.io/extension: agw-rate-limiter
    gateway.solo.io/gatewayclass: enterprise-agentgateway
  name: rate-limiter-enterprise-agentgateway
  namespace: agentgateway-system
spec:
  clusterIP: 10.109.81.173
  clusterIPs:
  - 10.109.81.173
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: grpc
    port: 8083
    protocol: TCP
    targetPort: 8083
  - name: ready
    port: 8084
    protocol: TCP
    targetPort: 8084
  - name: debug
    port: 9091
    protocol: TCP
    targetPort: 9091
  selector:
    app: rate-limiter
    rate-limiter: rate-limiter
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app: solo-enterprise-telemetry-collector
    app.kubernetes.io/managed-by: Helm
  name: solo-enterprise-telemetry-collector
  namespace: agentgateway-system
spec:
  clusterIP: 10.107.88.219
  clusterIPs:
  - 10.107.88.219
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: otlp-remote
    port: 4316
    protocol: TCP
    targetPort: 4316
  - name: otlp
    port: 4317
    protocol: TCP
    targetPort: 4317
  - name: otlp-http
    port: 4318
    protocol: TCP
    targetPort: 4318
  - name: health
    port: 13133
    protocol: TCP
    targetPort: 13133
  selector:
    app: solo-enterprise-telemetry-collector
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app: solo-enterprise-telemetry-collector
    app.kubernetes.io/managed-by: Helm
  name: solo-enterprise-telemetry-collector-headless
  namespace: agentgateway-system
spec:
  clusterIP: None
  clusterIPs:
  - None
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: otlp
    port: 4317
    protocol: TCP
    targetPort: 4317
  - name: otlp-http
    port: 4318
    protocol: TCP
    targetPort: 4318
  selector:
    app: solo-enterprise-telemetry-collector
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app: solo-enterprise-telemetry-collector
    app.kubernetes.io/managed-by: Helm
  name: solo-enterprise-telemetry-gateway
  namespace: agentgateway-system
spec:
  allocateLoadBalancerNodePorts: true
  clusterIP: 10.108.70.47
  clusterIPs:
  - 10.108.70.47
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: otlp-remote
    nodePort: 32283
    port: 4316
    protocol: TCP
    targetPort: 4316
  - name: otlp
    nodePort: 32492
    port: 4317
    protocol: TCP
    targetPort: 4317
  - name: otlp-http
    nodePort: 30244
    port: 4318
    protocol: TCP
    targetPort: 4318
  selector:
    app: solo-enterprise-telemetry-collector
  sessionAffinity: None
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: management
    meta.helm.sh/release-namespace: agentgateway-system
  labels:
    app.kubernetes.io/managed-by: Helm
  name: solo-enterprise-ui
  namespace: agentgateway-system
spec:
  allocateLoadBalancerNodePorts: true
  clusterIP: 10.98.16.154
  clusterIPs:
  - 10.98.16.154
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: tunnel
    nodePort: 32058
    port: 9000
    protocol: TCP
    targetPort: 9000
  - name: metrics
    nodePort: 32070
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: http
    nodePort: 30568
    port: 80
    protocol: TCP
    targetPort: 8090
  - name: ui-backend-grpc
    nodePort: 31397
    port: 8091
    protocol: TCP
    targetPort: 8091
  - name: autoauth
    nodePort: 31873
    port: 5556
    protocol: TCP
    targetPort: 5556
  selector:
    app: solo-enterprise-ui
  sessionAffinity: None
  type: LoadBalancer
