apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kagent-crds
  namespace: argocd
spec:
  destination:
    namespace: kagent
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kagent-enterprise-crds
    repoURL: us-docker.pkg.dev/solo-public/kagent-enterprise-helm/charts
    targetRevision: 0.3.4
    helm:
      skipCrds: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
