apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kagent-apps
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/ProfessorSeb/k8s-rooster.git
    targetRevision: main
    path: kagent
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
